@import 'node_modules/papercss/src/styles';

h1:first-of-type {
    margin: 0;
}

.container {
    max-width: 1080px;

    &.paper {
        margin: 15px auto;
    }
}

.form-group textarea {
    font-size: 30px !important;
    letter-spacing: .041em;
}

.ideen-tabelle {
    tr {
        th,
        td {
            vertical-align: middle;
            line-height: 1.35em;
            padding-top: 15px;
            padding-bottom: 15px;

            &:nth-of-type(1),
            &:nth-of-type(1) {
                font-size: 25px;
                letter-spacing: .04em;
                width: 100%;
            }
        }
    }
}






